body {
  padding: 0;
  margin: 0;
}

.home-section {
  padding-top: 70px;
  width: 100%;
  height: 100vh;
}

.home-photo {
  width: 100%;
  height: 100%;
 
}

.home-text{
 position: absolute;
 top: 320px;
 left: 30px;

}

.big-text {
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 4px;
    
}

.small-text {
  font-weight: 500;
  font-size: 1.5em ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.home-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(248, 227, 33);
  color: #000;
  border: none;
  margin-right: 15px;
  padding: 12px 35px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
}

@media screen and (max-width: 820px){
  .home-section {
    padding-top: 70px;
    width: 100%;
    height: 100vh;
    
  
  }
  .home-photo {
    width: 100%;
    height: 100%;
   
  }
  
  .home-text {
   position: absolute;
   top: 380px;
   left: 30px;
   right: 30px;
  
  }

  .big-text {
    font-weight: bold;
    font-size: 3.5em;
    margin-bottom: 4px;
      
  }
  
  .small-text {
    
    font-weight: 500;
    font-size: 1.3em ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
}

.search-section {
  padding-top: 70px;
}

.search {
display: flex;
justify-content: center;
align-items: center;
height: 75vh;
}

.search-photo {
  width: 100%;
}

.search-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

}

.search-div h2 {
  font-size: 30px;
  color: rgb(248, 227, 33);
}

.search-bar {
  display: flex;
  position: relative;
  width: 500px;
}

.search-input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  padding: 0px 25px 2px 45px;
  border-radius: 15px;
  font-size: 20px;
}

.search-input::placeholder{
  opacity: 0.8;
}

.search-icon {
  width: 15px;
  position: absolute;
  top: 11px;
  left: 15px;
}

.clear-icon {
  width: 22px;
  position: absolute;
  right: 8px;
  top: 11px;
}


.contact-section {
  padding-top: 70px;
}



.mission-two {
  width: 100%;
  height: 100vh;
  
}

.mission-div h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.mission-div h3 {
  font-size: 25px;
  text-align: center;
}

.mission-div p{
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
}

.mission-words-div {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: 50px 30px;
}

.mission-words {
  background-color:  rgb(250, 240, 150);
  color: #000;
  padding: 40px;
  width: 250px;

 border-radius: 10px;
}

.login-wrapper {
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background-color: rgb(250, 240, 150);
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}



.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

}

.login-form input {
  height: 30px;
  width: 100%;
  padding: 10px;
}

.login-form input placeholder {
  font-size: 100px;
}

.forgot-password-link {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: rgb(248, 227, 33);
  font-size: 20px;

}


.signup-wrapper {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
max-width: 550px;
background-color: rgb(250, 240, 150);
padding: 30px;
display: flex;
flex-direction: column;
align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.signup-form input {
width: 100%;
height: 35px;
padding: 10px;
font-size: 16px;
}

.signup-btn {
  
  width: 100%;
  height: 50px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  background-color: #000;
  color: rgb(248, 227, 33);
  font-size: 20px;
}



